{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["unused-imports", "prettier"],
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [["src", "./src"]],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {}
}
