/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

.position-inherit {
  position: inherit !important;
}

/* CS Message Styling */
.cs-message.cs-message--incoming > .cs-message__content-wrapper > .cs-message__content,
.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color: #85a9f3 !important;
}

.cs-typing-indicator,
.cs-button,
.cs-typing-indicator__text {
  color: #85a9f3 !important;
}

.cs-message.cs-message--outgoing > .cs-message__content-wrapper > .cs-message__content {
  background-color: #1ad5a6 !important;
}

.cs-message.cs-message--incoming,
.cs-message.cs-message--outgoing {
  border-radius: 10px !important;
}

.cs-message-list__scroll-wrapper {
  padding: 1em !important;
  padding-top: 1.2em !important;
}

/* Toasts */
:root {
  --toastify-color-progress-success: #1ad5a6;
  --toastify-color-progress-error: #ff5630;
}

.Toastify__toast--success > .Toastify__toast-body > .Toastify__toast-icon {
  display: none !important;
}
.Toastify__toast-body {
  color: #637381 !important;
}
